{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for configuring audience display lower thirds.
*/}}
{{define "title"}}Lower Thirds{{end}}
{{define "body"}}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
      <h3>Lower Thirds</h3>
      {{range $i, $lowerThird := .LowerThirds}}
      <div class="row mb-4 card">
        <form class="card-body">
          <div class="row form-group">
            <div class="col-lg-9">
              <input type="hidden" name="id" value="{{$lowerThird.Id}}" />
              <div class="input-group mb-2">
                <input type="text" class="form-control" name="topText" value="{{$lowerThird.TopText}}"
                    placeholder="Top Text"/>
                <button type="button" class="btn btn-info btn-lower-third" onclick="saveLowerThird(this);">
                  Save
                </button>
                <button type="button" class="btn btn-danger btn-lower-third" onclick="deleteLowerThird(this);">
                  Delete
                </button>
              </div>
              <input type="text" class="form-control" name="bottomText" value="{{$lowerThird.BottomText}}"
                  placeholder="Bottom Text"/>
              <input type="hidden" name="displayOrder" value="{{$i}}" />
            </div>
            <div class="col-lg-3">
              <button type="button" class="btn btn-success btn-lower-third mb-2" onclick="showLowerThird(this);">
                Show
              </button>
              <button type="button" class="btn btn-info mb-2" onclick="reorderLowerThird(this, true);">
                ▲
              </button>
              <br />
              <button type="button" class="btn btn-outline-dark btn-lower-third" onclick="hideLowerThird(this);">
                Hide
              </button>
              <button type="button" class="btn btn-info" onclick="reorderLowerThird(this, false);">
                ▼
              </button>
            </div>
          </div>
        </form>
        </div>
      {{end}}
      <div class="row mb-4 card">
      <form class="card-body">
        <div class="form-group">
          <div class="col-lg-12">
            <input type="hidden" name="id" value="0" />
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="topText" placeholder="Top or Solo Text" />
              <button type="button" class="btn btn-info btn-lower-third" name="save" onclick="saveLowerThird(this);">
                Save
              </button>
            </div>
            <input type="text" class="form-control" name="bottomText" placeholder="Bottom Text" />
            <input type="hidden" name="displayOrder" value="{{len .LowerThirds}}" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script src="/static/js/lower_thirds.js"></script>
{{end}}
